# Python/IDE
__pycache__/
*.pyc
.idea/
.vscode/

# Secrets / env
.env
.env.*
*.key
*.pem
*.p12
# servicekonton etc
*.json
!settings.json   # behåll settings.json i repo om du vill

# OS
.DS_Store
Thumbs.db
